{% extends 'base/base.html.twig' %}

{% block body %}
    <h2>News</h2>
    {% for news in news_list  %}
    <div>
        <a href = "{{ path('news_single', {'id': news.id }) }}"><strong>Titre:</strong> {{ news.title }}</a>
        <p><strong>Description:</strong> {{ news.description }}</p>
        <p><strong>Publié le:</strong> {{ news.publicationDate|date('d-m-Y') }} </p>
        {% if news.lastEditDate %}
            <p><strong>Modifié le:</strong> {{ news.lastEditDate|date('d-m-Y') }} </p>
        {% endif %}
        <p><strong>Ajouté par:</strong> {{ news.author.firstname }} {{ news.author.lastname }}</p>
        <a href="{{ path('news_edit', {'id': news.id }) }}">Editer</a>
        <a href="{{ path('news_delete', {'id': news.id }) }}">Supprimer</a>
    </div>
    <br>
    {% endfor %}

<p><a href="{{ path('news_create') }}">Créer une news</a></p>
{% endblock %}
